* {
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 30vh;
  margin-bottom: 30vh;
}
.nav img {
  width: 150px;
  /* margin-top: 20px; */
}

.link a {
  text-decoration: none;
  padding: -10px;

  margin-left: 100vh;
}
.nav {
  /* border:  solid 3px black; */
  display: flex;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 50px;
}
.reklam h1 {
  font-size: 50px;
  /* position:absolute; */
  margin-top: 10vh;
  font-family: Arial, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* border: solid 5px black ; */
  font-weight: 550;
}
.post {
  color: green;
}
.border {
  /* position: absolute; */
  width: 250px;
  height: 300px;
  margin-top: -200px;
  text-align: center;
  margin-left: 40vh;
  position: absolute;
  border: solid 1px rebeccapurple;
  border-top: none;
  border-bottom: none;
}
.link a {
  font-size: larger;
  margin-top: 40vh;
  border: solid 1px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border-radius: 30%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  transition: 0.5s;
}
.link:hover a {
  background-color: #6ad66a;
  color: #fff;
}

.foto img {
  width: 250px;
  margin-top: -150px;
  padding-left: 45vw;
  display: flex;
  transition: 0.5s;
}
.font img:hover {
  transform: scale(1.1);
}
.kurslar {
  margin: 30vh;
  margin-top: -20vh;
  display: flex;
  background-color: #f8f8f8;
}
.kurslar .left {
  width: 100vh;
  margin: auto;
  height: 50vh;
  transition: 0.5s;
}

.kurslar h2,
p {
  margin-left: 20px;
  position: relative;
  top: 20vh;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.kurslar p {
  font-size: 10px;
  color: #aaa;
}
.kurslar .right {
  width: 100vh;
  height: 50vh;
  margin: auto;
  transition: 0.5s;
}
/* dawn kurs */
.kurs-dawn {
  display: flex;
  margin: 30vh;
  margin-top: -25vh;
  background-color: #f8f8f8;
}
/* font drezn */
.kurs-dawn .bottom-left {
  width: 100vh;
  height: 50vh;
  margin: auto;
  transition: 0.5s;
}

.kurs-dawn .bottom-right {
  width: 100vh;

  height: 50vh;
  margin: auto;
  transition: 0.5s;
}
/* let */
.left:hover {
  background-color: #6ad66a;
  transform: scale(1.1);
}
.right:hover {
  background-color: #6ad66a;

  transform: scale(1.1);
}
/* let dawn */
.bottom-left:hover {
  background-image: url("https://pdp.uz/assets/images/home/onsite3x.png");
  transform: scale(1.1);
  display: block;
}
.bottom-right:hover {
  background-image: url("https://pdp.uz/assets/images/home/onsite3x.png");
  transform: scale(1.1);
}

/* let end */

.button {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 2vh;
  margin-left: 55vh;
}
a {
  text-decoration: none;
  color: #aaa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.dale {
  text-decoration: none;
  color: #bbb;
  margin-top: 25vh;
  margin-left: 10vh;
}
.bottom-left h2 {
  margin-top: 5vh;
  margin-left: 5vh;
}
.bottom-right h2 {
  margin-left: 5vh;
  margin-top: 5vh;
}

.metrol {
  /* text-align: center; */
  margin: 30vh;
  height: 50vh;

  background-color: #f8f8f8;
}
.take {
  margin: 30vh;
  background-color: #f8f8f8;
  text-align: center;
  /* height: 30vh; */
}
.take h2 {
  padding: 40px;
  margin-top: -20vh;
  font-family: Arial, Helvetica, sans-serif;
}
.take p {
  margin-top: -20vh;
}

/* Devoliper clube */
.torm {
  display: flex;
  /* padding: 20px; */
}
.tormtwo {
  display: flex;
}

.Frontend {
  background-color: #f8f8f8ff;
  width: 80vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  border: solid 1px #ddd;
}
/* button tap */
.bous {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  left: 90vh;
  position: absolute;
}
.Frontend:hover {
  background-color: #fff;
}

.Android {
  background-color: #f8f8f8ff;
  width: 80vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  border: solid 1px #ddd;
}

.Android:hover {
  background-color: #ffffff;
}
.bous-ti {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  left: 55vh;
  position: relative;
}
.java {
  background-color: #f8f8f8ff;
  width: 80vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  border: solid 1px #ddd;
}
.java:hover {
  background-color: #fff;
}

.flutter {
  background-color: #f8f8f8ff;
  width: 80vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  border: solid 1px #ddd;
}
.flutter:hover {
  background-color: #fff;
}

/* end torm */

.fontesr {
  margin: 30vh;
  width: 160vh;
  height: 70vh;
  margin-top: 70vh;

  border: solid 1px #ddd;
  background-color: #f8f8f8ff;
}
.fontesr h2 {
  margin-top: 30vh;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.fontesr h4 {
  /* padding: 20px; */
  margin-top: -20vh;
  margin-left: 20px;
}
.fontesr img {
  width: 70vh;
  margin-top: -20vh;
  float: right;
}
.sertifikat {
  width: 160vh;
  height: 80vh;
  background-color: #f8f8f8;
  margin: 30vh;
  margin-top: -20vh;
}
.sertifikat h2,
h4 {
  margin-left: 120vh;
  position: relative;
  top: 20vh;
  font-family: Arial, Helvetica, sans-serif;
}
.sertifikat img {
  width: 500px;
  position: relative;
  top: 2vh;
  transition: 0.5s;
  float: left;
}
.sertifikat img:active {
  transform: scale(1.1);
}





/* menter */

.meter {
  margin: 30vh;
  margin-left: 50vh;
  background-color: #fff;
  top: -40vh;

  position: relative;
  text-align: center;
}
.meter h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  padding-top: 20px;
}

.table-one th img {
  margin-top: 10vh;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}
.table-one td {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.imgaes td img {
  width: 20px;
  position: absolute;
  padding: 20px;
}
/* table two */
.table-two {
  margin: auto;
  margin-top: -300px;
}

.table-two th {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 40px;
}
.table-two td {
  padding: 5px;
  margin-left: 70px;
  padding-right: 40px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
}
.end {
  border-left: solid 200vh white;
  border-bottom: 40px black;
  margin: 30vh;
  border-top: solid 1px #bbb;

  margin: auto;
}

/* foir */
.for {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  position: fixed;

  background-color: #3c9e3c;
  margin-left: 150vh;
  margin-top: 80vh;

  box-shadow: 0.5px 1px 5px 2px black;
}
.for a {
  position: relative;
  margin-left: 2px;
  width: 20px;
}
